.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 82px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.listContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .buttons {
    width: 256px;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 114px;
    padding-bottom: 46px;
  }

  .buttons {
    width: 292px;
    gap: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    flex-direction: row;
    padding-bottom: 62px;
    column-gap: 32px;
  }

  .buttons {
    margin-bottom: 32px;
  }
}
