body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  background-color: var(--main-bgr);
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--control-color);
  border-radius: 15px;
  min-height: 30px;
  height: 100px;
}

::-webkit-scrollbar-thumb::before {
  content: "";
  display: block;
  height: 100%;
  min-height: 30px;
  max-height: 100px;
  background: var(--control-color);
  border-radius: 15px;
}
