.form {
  width: 100%;
  font-family: "Manrope", sans-serif;
}

.content {
  display: flex;
  font-family: inherit;
  flex-direction: column;
  row-gap: 40px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@media screen and (min-width: 768px) {
  .content {
    row-gap: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    row-gap: 58px;
  }
}
