.form {
  width: 100%;
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.buttons {
  width: 100%;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.btnStyles {
  width: 131px;
}

.link {
  width: 140px;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--inactive-color);
}

@media screen and (min-width: 375px) {
  .buttons {
    column-gap: 14px;
  }

  .link {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .form {
    row-gap: 146px;
  }

  .inputsWrapper {
    row-gap: 14px;
  }

  .buttons {
    column-gap: 20px;
  }

  .btnStyles {
    width: 225px;
  }

  .link {
    font-size: 14px;
    line-height: 1.29;
  }
}
