.container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.btn {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  padding: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  transition: border-color 0.5s ease;
}

.btn:hover {
  border-color: var(--card-color);
}

.btn .text {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}

.icon {
  width: 100%;
  height: 100%;
  stroke: var(--main-color);
  transition: transform 0.3s ease;
}

.btn.open .icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.dropdownWrapper {
  position: absolute;
  width: 100%;
  top: calc(100% + 4px);
  left: 0;
  background-color: var(--control-color);
  border-radius: 12px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  height: 113px;
  padding: 14px;
  z-index: 10;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.option {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option.selected {
  color: var(--main-color);
}

.option.inactive {
  color: var(--inactive-color);
}

.option input {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn {
    height: 46px;
    padding: 14px;
  }

  .btn .text {
    font-size: 14px;
    line-height: 1.29;
  }

  .dropdownWrapper {
    height: px;
  }

  .option {
    font-size: 14px;
    line-height: 1.29;
  }
}
