.message {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--primary);
  margin-top: 60px;
}

.accent {
  font-weight: 700;
  color: var(--orange);
}

@media screen and (min-width: 375px) {
  .message {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .message {
    width: 458px;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 160px;
  }
}
