.signMenu {
  display: none;
}

.container {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .signMenu {
    display: flex;
    gap: 8px;
  }
}
