.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 21px;
}

.container.small {
  display: flex;
  column-gap: 20px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    column-gap: 25px;
    row-gap: 27px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    column-gap: 20px;
  }
}
