.container {
  width: 72px;
  display: flex;
  justify-content: space-between;
}

.prevButtons,
.nextButtons {
  display: flex;
  gap: 6px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 88px;
    padding-left: 0;
    padding-right: 0;
  }

  .prevButtons,
  .nextButtons {
    gap: 8px;
  }
}
