.btn {
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    border 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.primary {
  border: none;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.btn.primary:hover {
  border: 1px solid rgba(249, 249, 249, 0.2);
  background-color: transparent;
  color: var(--main-color);
}

.btn.secondary {
  border: 1px solid rgba(249, 249, 249, 0.2);
  background-color: transparent;
  color: var(--main-color);
}

.btn.secondary:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: none;
}

.btn.large,
.btn.small {
  height: 42px;
}

@media screen and (min-width: 768px) {
  .btn.large {
    font-size: 20px;
    line-height: 1;
    height: 52px;
  }

  .btn.small {
    font-size: 16px;
    line-height: 1.12;
    height: 42px;
  }
}
