.btn {
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;

  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;

  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.uppercase {
  text-transform: uppercase;
}

.btn.primary {
  background-color: var(--orange);
  color: var(--white);
}

.btn.primary:hover {
  background-color: var(--orange-hover);
}

.btn.secondary {
  background-color: var(--orange-light);
  color: var(--orange);
}

.btn.secondary:hover {
  background-color: var(--orange-light-hover);
}

.btn.transparent {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: var(--white);
}

.btn.transparent:hover {
  border-color: var(--orange-light);
}

.btn.cancel {
  background: rgba(38, 38, 38, 0.05);
  color: var(--primary);
}

.btn.cancel:hover {
  background: #ccc;
}

.btn.unactive {
  background: var(--white);
  color: var(--primary);
}

.btn.unactive:hover {
  background: rgba(38, 38, 38, 0.05);
}

.btn.large,
.btn.medium {
  height: 42px;
}

.btn.small {
  font-weight: 500;
  height: 46px;
}

.btn.sxsmall {
  font-weight: 500;
  height: 44px;
}

.btn.sxxsmall {
  font-weight: 500;
  height: 38px;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 1.25;
  }

  .btn.large {
    height: 52px;
  }

  .btn.medium {
    height: 50px;
  }

  .btn.small {
    height: 48px;
  }

  .btn.sxsmall {
    height: 48px;
  }

  .btn.sxxsmall {
    height: 40px;
  }
}
