.filtersContainer {
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: var(--orange-light);
}

.searchLine {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 8px;
}

.searchContainer,
.typeContainer,
.locationContainer,
.categoryContainer,
.genderContainer {
  width: 100%;
}

.sortLine {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 375px) {
  .categoryContainer {
    width: 143px;
  }
  .genderContainer {
    width: 144px;
  }
}

@media screen and (min-width: 768px) {
  .filtersContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .searchLine {
    display: flex;
    gap: 16px;
  }

  .searchContainer {
    width: 265px;
  }

  .categoryContainer {
    width: 170px;
  }

  .genderContainer {
    width: 170px;
  }

  .typeContainer {
    width: 190px;
  }

  .locationContainer {
    width: 227px;
  }

  .sortLine {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .filtersContainer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .searchLine {
    flex-wrap: nowrap;
  }

  .categoryContainer {
    width: 190px;
  }

  .genderContainer {
    width: 200px;
  }

  .typeContainer {
    width: 190px;
  }
}
