.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  padding: 14px;
  width: 100%;
  height: 44px;
  transition: border 1000 ease-in-out;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main-color);
  background-color: transparent;
}

.label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--inactive-color);
}

.wrapper:focus,
.wrapper:hover {
  border: 1px solid var(--border-color);
}

.wrapper.red {
  border: 1px solid var(--red-color);
}

.input.green {
  border: 1px solid var(--green-color);
}

.message {
  position: absolute;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.error {
  color: var(--red-color);
}

.success {
  color: var(--green-color);
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
}

.eyeIcon {
  width: 100%;
  height: 100%;
  color: var(--main-color);
}

.clearIcon {
  width: 100%;
  height: 100%;
  color: var(--red-color);
}

.okIcon {
  cursor: default;
  width: 100%;
  height: 100%;
  color: var(--green-color);
}

.icon.shift {
  right: 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: var(--orange);
  transition: background-color 500 ease-in-out;
}

@media screen and (min-width: 768px) {
  .wrapper {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 50px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .message {
    font-size: 12px;
    line-height: 1.17;
    left: 16px;
    bottom: -16px;
  }
}
