.container {
  position: relative;
  border-radius: 8px;
  width: 137px;
  height: 208px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  flex-shrink: 0;
}

.container.secondary {
  width: 140px;
  height: 213px;
}

.container.third {
  width: 71px;
  height: 107px;
}

.img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.darkened {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary-color);
  opacity: 0.1;
  z-index: 1;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.darkened:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container.secondary {
    width: 153px;
    height: 233px;
  }
}
