.wrapper {
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  height: 42px;
  outline: none;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.8);

  background-color: transparent;
  transition: border-color 1000 ease-in-out;
}

input::placeholder {
  color: rgba(38, 38, 38, 0.5);
}

.input:focus,
.input:hover {
  border-color: var(--orange);
}

.input.red {
  border-color: var(--error);
}

.input.green {
  border-color: var(--green);
}

.message {
  position: absolute;
  bottom: -12px;
  left: 12px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.error {
  color: var(--error);
}

.success {
  color: var(--green);
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
}

.eyeIcon {
  width: 100%;
  height: 100%;
  color: var(--orange);
}

.clearIcon {
  width: 100%;
  height: 100%;
  color: var(--error);
}

.okIcon {
  cursor: default;
  width: 100%;
  height: 100%;
  color: var(--green);
}

.icon.shift {
  right: 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: var(--orange);
  transition: background-color 500 ease-in-out;
}

@media screen and (min-width: 768px) {
  .input {
    padding: 16px;
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(38, 38, 38, 0.8);
  }

  .icon {
    width: 22px;
    height: 22px;
  }

  .message {
    font-size: 12px;
    line-height: 1.17;
    left: 16px;
    bottom: -16px;
  }
}
