.section {
  padding: 20px;
  background-color: var(--main-bgr);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formContainer {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.imgContainer {
  width: 100%;
  border-radius: 30px;
  padding-top: 20px;
  padding-top: 0;
  padding-left: 40px;
  padding-right: 40px;
  height: 351px;
  border-radius: 30px;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 375xp) {
  .formContainer {
    width: 335px;
    height: 411px;
  }

  .imgContainer {
    width: 335px;
    height: 351px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 32px;
  }

  .formContainer {
    width: 100%;
    padding-top: 40px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 40px;
    height: 960px;
    row-gap: 40px;
  }

  .titleContainer {
    row-gap: 157px;
  }

  .imgContainer {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-right: 32px;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .titleContainer {
    row-gap: 107px;
  }

  .formContainer {
    width: 50%;
    height: 736px;
  }

  .imgContainer {
    width: 50%;
    height: 736px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
