.btn {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--inactive-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover,
.btn.active {
  border-color: var(--main-color);
}

.btn:disabled {
  cursor: not-allowed;
  border-color: var(--inactive-color);
}

.btn:disabled .icon {
  cursor: not-allowed;
}

.btn:disabled:hover {
  fill: var(--inactive-color);
  cursor: not-allowed;
}

.icon {
  width: 16px;
  height: 16px;
  fill: var(--main-color);
  transition: fill 0.3s ease-in-out;
}

.btn:disabled .icon {
  fill: var(--inactive-color);
}

@media screen and (min-width: 768px) {
  .btn {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
