.container {
  width: 137px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-shrink: 0;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title {
  width: 100%;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-color);
}

.author {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--inactive-color);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
