.btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-light);
  margin: 0;
  padding: 0;
  border: none;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
  flex-shrink: 0;
}

.icon {
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: var(--orange);
}

.icon.secondary {
  fill: transparent;
  stroke: var(--white);
}

.icon.secondary.love {
  fill: var(--white);
  stroke: var(--white);
}

.icon.love {
  fill: var(--orange);
}
