.container {
  width: 100%;
  border-radius: 30px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 335px;
    height: 478px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    flex-direction: row;
    gap: 32px;
    height: 336px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 353px;
    flex-direction: column;
    height: 651px;
    padding: 20px;
    gap: 40px;
  }

  .container.library {
    gap: 78px;
  }
}
