.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.radioLabel {
  position: relative;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25%;
  letter-spacing: -0.03em;
  color: var(--primary);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  height: 42px;
}

.radioInput {
  display: none;
}

.customRadio {
  display: none;
}

.radioInput:checked .icon {
  fill: var(--white);
}

.radioInput:checked + .radioLabel .customRadio {
  cursor: pointer;
  position: absolute;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  margin-right: 12px;
  background-color: var(--orange);
}

.radioInput:checked + .radioLabel {
  background-color: var(--orange);
  color: var(--white);
  padding-right: 36px;
}

@media screen and (min-width: 768px) {
  .radioGroup {
    flex-wrap: nowrap;
  }

  .radioLabel {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
    height: 48px;
  }

  .radioInput:checked + .radioLabel {
    padding-right: 40px;
  }
}
