@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("../../fonts/static/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  src: url("../../fonts/static/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("../../fonts/static/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-weight: 800;
  src: url("../../fonts/static/Manrope-ExtraBold.ttf") format("truetype");
}
