@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../../fonts/static/gilroy-medium.ttf") format("truetype");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: 600;
  src: url("../../fonts/static/SF-Pro-Display-Semibold.otf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../../fonts/static/gilroy-bold.ttf") format("truetype");
}
