.form {
  width: 100%;
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  padding-left: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-color);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.btnStyles {
  width: 98px;
  height: 38px;
}

@media screen and (min-width: 375px) {
  .btnStyles {
    width: 122px;
    height: 42px;
  }
}
